<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="//cdn.shopify.com/s/files/1/0155/7645/t/177/assets/favicon.ico?11981592617154272979" type="image/ico"
    />
    <link href="https://plus.googlecom/108540024862647200608" rel="publisher" />
    <title>Livros de Java, SOA, Android, iPhone, Ruby on Rails e muito mais - Casa do Código</title>
    <link href="/css/site/cssbase-min.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' />
    <link href="/css/site/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/site/fontello-ie7.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/site/fontello-embedded.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/site/fontello.css" rel="stylesheet" type="text/css" media="all" />

    <link href="/css/site/style.css" rel="stylesheet" type="text/css" media="all" />

    <link href="/css/site/layout-colors.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/site/responsive-style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="canonical" href="http://www.casadocodigo.com.br/" />

    <link href="/css/site/book-collection.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body class="home">

    <header id="layout-header">
        <div class="clearfix container">
            <a href="/" id="logo">
                        <img src="/img/logo.png" alt="Casa do Codigo">
                    </a>

            <div id="header-content">
                <nav id="main-nav">

                    <ul class="clearfix">
                        <li><a href="/cart" rel="nofollow">Seu carrinho</a></li>

                        <li><a href="/pages/sobre-a-casa-do-codigo" rel="nofollow">Sobre</a></li>

                        <li><a href="/pages/perguntas-frequentes" rel="nofollow">Perguntas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <nav class="categories-nav">
        <ul class="container">
            <li class="category"><a href="/">Home</a></li>
            <li class="category"><a href="/collections/livros-de-agile">
                            Agile </a></li>
            <li class="category"><a href="/collections/livros-de-front-end">
                            Front End </a></li>
            <li class="category"><a href="/collections/livros-de-games">
                            Games </a></li>
            <li class="category"><a href="/collections/livros-de-java">
                            Java </a></li>
            <li class="category"><a href="/collections/livros-de-mobile">
                            Mobile </a></li>
            <li class="category"><a href="/collections/livros-desenvolvimento-web"> Web </a></li>
            <li class="category"><a href="/collections/outros"> Outros </a></li>
        </ul>
    </nav>

    <!-- inicio da listagem em si-->
    <section id="index-section" class="container middle">

        <div class='erros'>
            <%if(errosValidacao){%>
                <ul>
                    <%for(var i=0;i<errosValidacao.length;i++){%>
                        <li>
                            <%=errosValidacao[i].param%> -
                                <%=errosValidacao[i].msg%>
                        </li>
                        <%}%>
                </ul>
                <%}%>
        </div>

        <form action="/produtos" method="POST" class="m-3">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" class="form-control" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo" />
            </div>
            <div class="form-group">
                <label for="preco">Preço</label>
                <input type="text" id="preco" class="form-control" name="preco" value="<%=produto.preco%>" placeholder="coloque o preço" />
            </div>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" id="descricao" class="form-control noresize" value="<%=produto.descricao%>" name="descricao" placeholder="fale sobre o livro"></textarea>
            </div>

            <input type="submit" class="btn btn-primary" value="gravar" />
        </form>


    </section>

    <!-- fim-->

    <footer id="layout-footer">
        <div class="clearfix container">


            <div id="collections-footer">
                <!-- cdc-footer -->
                <p class="footer-title">Coleções de Programação</p>
                <ul class="footer-text-links">
                    <li><a href="/collections/livros-de-java">Java</a></li>
                    <li><a href="/collections/livros-desenvolvimento-web">Desenvolvimento
                                    Web</a></li>
                </ul>
                <p class="footer-title">Outros Assuntos</p>
                <ul class="footer-text-links">
                    <li><a href="/collections/livros-de-agile">Agile</a></li>
                    <li><a href="/collections/outros">e outros...</a></li>
                </ul>
            </div>
            <div id="social-footer">
                <!-- books-footer -->
                <p class="footer-title">Links da Casa do Código</p>
                <ul class="footer-text-links">
                    <li><a href="/pages/sobre-a-casa-do-codigo">Sobre a Casa
                                    do Código</a></li>
                    <li><a href="http://www.casadocodigo.com.br/pages/politica-de-privacidade" rel="nofollow">Política de Privacidade</a></li>
                </ul>
                <p class="footer-title">Redes Sociais</p>
                <ul>
                    <li class="social-links"><a href="http://www.twitter.com/casadocodigo" target="_blank" id="twitter" rel="nofollow">Facebook</a>                        <a href="http://www.facebook.com/casadocodigo" target="_blank" id="facebook" rel="nofollow">Twitter</a></li>
                </ul>
            </div>
            <div id="newsletter-footer">
                <!-- social-footer -->
                <p class="footer-title">Receba as Novidades e Lançamentos</p>

                <div id="form-newsletter">
                    <form action="" method="POST" id="ss-form" class="form-newsletter">
                        <ul>
                            <li><input type="hidden" name="pageNumber" value="0" /><input type="hidden" name="backupCache" value=""
                                /><input type="email" name="entry.0.single" value="" class="ss-q-short" id="entry_0" placeholder="seu@email.com"
                                /></li>
                            <li><input type="submit" name="submit" value="Quero Receber!" id="submit-newsletter" /></li>
                        </ul>
                    </form>
                    <ul>
                        <li class="ie8"><a href="" rel="nofollow">Receba as Novidades e Lançamentos</a></li>
                    </ul>
                </div>
                <ul class="footer-payments">
                    <li><img class="accepts-paypal" src="//cdn.shopify.com/s/files/1/0155/7645/t/177/assets/accepts_paypal.png?11981592617154272979"
                            border="0" alt="Paypal" width="130" height="80" /></li>
                    <li><img class="accepts-pagseguro" src="//cdn.shopify.com/s/files/1/0155/7645/t/177/assets/logopagseguro.png?11981592617154272979"
                            border="0" alt="PagSeguro" width="180" height="26" /></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('novaPromocao', function (data) {
            alert(data.mensagem + ". Livro em promoção: " + data.livro.id);
        });
    </script>
</body>

</html>